# AI Chat
app/controllers/AiChatController.php

# htaccess
.htaccess

# sql file
sql/pcbuild_db.sql

#markdown
markdown/deployment_guide.md
markdown/google_oauth_setup.md

#production (infinityfree - craftwise.ct.ws)
.htaccess.production
config/index.production.php
config/database.production.php
config/google_oauth.production.php
config/google_oauth.php